@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* 화면에 맞게 100% 활용하려면 vh 단위를 쓰면 된다! */
  /* CSS에서 "vh" 단위는 "Viewport Height"를 의미합니다. 
  뷰포트 높이를 기준으로 요소의 크기를 설정하는 데 사용됩니다. 
  1vh는 현재 보이는 브라우저 창의 높이의 1/100을 나타냅니다. 
  이를 사용하여 요소를 화면의 세로 공간에 대해 상대적으로 크기를 조정할 수 있습니다. */
  margin: 0;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  /* box-shadow: [수평 오프셋(좌우)] [수직 오프셋(상하)] [퍼지 정도(그림자의 흐림)] [그림자 색]; */
  width: 400px;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-left: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
  /* 해당 요소를 화면에서 보이지 않도록 하지만, 요소의 크기와 레이아웃은 유지됩니다.
즉, 해당 요소가 아직 페이지 레이아웃에 공간을 차지하며, 다른 요소에 영향을 줍니다.
마치 요소가 투명한 막으로 가려져 있는 것과 같은 효과를 줍니다. */
  /* display: none; */
  /* 해당 요소를 화면에서 숨깁니다.
요소가 페이지 레이아웃에 공간을 차지하지 않습니다.
따라서 해당 요소가 다른 요소에 영향을 주지 않으며, 레이아웃이 재조정됩니다. */
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}
